<header>
  <div>
    <mat-toolbar class="w-100 mr-2 mb-2" color="">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <span>Site name</span>
      </a>
      <span class="example-spacer"></span>
      <div class="d-flex justify-flex-end align-items-center w-100" fxShow="true" fxHide.lt-md="true">
        <a class="fonts-12 mr-3 txt-1f cursor-pointer">Home</a>
        <a class="fonts-12 mr-3 txt-3b cursor-pointer">My Appointments</a>
        <a class="fonts-12 mr-3 txt-3b cursor-pointer">Delegated Access</a>
        <a class="fonts-12 mr-3 txt-3b cursor-pointer">Ads</a>
        <a class="fonts-12 mr-3 txt-3b cursor-pointer">Book Appointment</a>
        <a class="mr-3">
          <mat-icon matBadge="3" matBadgeColor="warn" class="material-icons-round cursor-pointer mt-2">notifications</mat-icon>
        </a>
        <div class="profile-card cursor-pointer mr-3">
          <img src="../../../assets/img/user.jpg" alt="user-image">
        </div>
      </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill fxHide.md-sm="true" class="example-container sidenav-container">

      <mat-sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" color="primary"
        class="sidenav" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a class="fonts-12 m-2 txt-3b cursor-pointer">Home</a>
          <a class="fonts-12 m-2 txt-3b cursor-pointer">My Appointments</a>
          <a class="fonts-12 m-2 txt-3b cursor-pointer">Delegated Access</a>
          <a class="fonts-12 m-2 txt-3b cursor-pointer">Ads</a>
          <a class="fonts-12 m-2 txt-3b cursor-pointer">Book Appointment</a>
          <!-- <a class=" m-2">
            <mat-icon matBadge="3" matBadgeColor="warn" class="material-icons-round cursor-pointer mt-2">notifications</mat-icon>
          </a> -->
          <div class="profile-card cursor-pointer  m-2">
            <img src="../../../assets/img/user.jpg" alt="user-image">
            <span> Login</span>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</header>