
.mat-toolbar{ box-shadow: 0px 2px 6px 0 rgba(88, 92, 101, 0.3);
    background-color: #ffffff !important;}
    // .sidenav-container {height: 100%;}
    // .sidenav {width: 300px;}
    // .sidenav .mat-toolbar {background: inherit;}

    // .mat-drawer-container{
    //     position: relative; 
    //  z-index: 1; 
    //  box-sizing: border-box; 
    // -webkit-overflow-scrolling: touch;
    // //  display: unset; 
    //  overflow: hidden;
    // }
    .mat-sidenav-content{background-color: #f9f9f9;}
    .profile-card{width: 32px;height: 32px;min-width:32px;min-height:32px;overflow:hidden; border-radius: 100%;
        img{height: 100%; width: 100%;object-fit: contain;}
    }