/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bryto-primary: mat-palette($mat-indigo);
$bryto-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bryto-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bryto-theme: mat-light-theme($bryto-primary, $bryto-accent, $bryto-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bryto-theme);
@font-face {
    font-family: 'robotoregular';
    src: url('../src/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
$custom-typography: mat-typography-config(
  $font-family: 'robotoregular',
);
@include angular-material-typography($custom-typography);
html, body { height: 100%;background-color: #f9f9f9; font-family:robotoregular !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sidenav-container{
    height: 90vh !important;
}
.my-0 {margin-top: 0 !important;}


.mb-0,
.my-0 {margin-bottom: 0 !important;}
.ml-0,
.mx-0 {margin-left: 0 !important;}
.mt-1,
.my-1 {margin-top: 0.25rem !important;}
.mb-1,
.my-1 {margin-bottom: 0.25rem !important;}
.m-2 {margin: 0.5rem !important;}
.mt-2,
.my-2 {margin-top: 0.5rem !important;}

.mr-2,
.mx-2 {margin-right: 0.5rem !important;}

.mb-2,
.my-2 {margin-bottom: 0.5rem !important;}

.ml-2,
.mx-2 { margin-left: 0.5rem !important;}

.m-3 {margin: 1rem !important;}

.mt-3,
.my-3 {margin-top: 1rem !important;}

.mr-3,
.mx-3 {margin-right: 1rem !important;}

.mb-3,
.my-3 {margin-bottom: 1rem !important;}

.ml-3,
.mx-3 {margin-left: 1rem !important;}

.m-4 {margin: 1.5rem !important;}

.mt-4,
.my-4 {margin-top: 1.5rem !important;}

.mr-4,
.mx-4 {margin-right: 1.5rem !important;}

.mb-4,
.my-4 {margin-bottom: 1.5rem !important;}

.ml-4,
.mx-4 {margin-left: 1.5rem !important;}


.p-0 {padding: 0 !important;}

.pt-0,
.py-0 {padding-top: 0 !important;}

.pr-0,
.px-0 {padding-right: 0 !important;}

.pb-0,
.py-0 {padding-bottom: 0 !important;}

.pl-0,
.px-0 {padding-left: 0 !important;}

.p-1 {padding: 0.25rem !important;}


.p-2 {padding: 0.5rem !important;}

.pt-2,
.py-2 {padding-top: 0.5rem !important;}

.pr-2,
.px-2 {padding-right: 0.5rem !important;}

.pb-2,
.py-2 {padding-bottom: 0.5rem !important;}

.pl-2,
.px-2 {padding-left: 0.5rem !important;}

.p-3 {padding: 1rem !important;}

.pt-3,
.py-3 {padding-top: 1rem !important;}

.pr-3,
.px-3 {padding-right: 1rem !important;}

.pb-3,
.py-3 {padding-bottom: 1rem !important;}

.pl-3,
.px-3 {padding-left: 1rem !important;}

.p-4 {padding: 1.5rem !important;}

.pt-4,
.py-4 {padding-top: 1.5rem !important;}

.pr-4,
.px-4 {padding-right: 1.5rem !important;}

.pb-4,
.py-4 {padding-bottom: 1.5rem !important;}

.pl-4,
.px-4 {padding-left: 1.5rem !important;}

.p-5 {padding: 3rem !important;}

.pt-5,
.py-5 {padding-top: 3rem !important;}

.pr-5,
.px-5 {padding-right: 3rem !important;}

.pb-5,
.py-5 {padding-bottom: 3rem !important;}

.pl-5,
.px-5 {padding-left: 3rem !important;}

.m-auto {margin: auto !important;}

.mt-auto,
.my-auto {margin-top: auto !important;}

.mr-auto,
.mx-auto {margin-right: auto !important;}

.mb-auto,
.my-auto {margin-bottom: auto !important;}

.ml-auto,
.mx-auto {margin-left: auto !important;}
.d-flex{display: flex;}
.d-block{display: block;}
.justify-flex-end{justify-content: flex-end;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.align-items-top{align-items: top;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.w-100{width: 100%;}
.fonts-12{font-size: 12px;}
.fonts-13{font-size: 13px;}
.fonts-16{font-size: 16px;}
.fonts-20{font-size: 20px;}
.fonts-24{font-size: 24px;}
.cursor-pointer{cursor: pointer;}
.txt-ff{color: #ffffff;}
.txt-3b{color: #3b4b5f;}
.txt-1f{color: #1fa4dd;}
.txt-30{color: #304156;}
.txt-98{color: #98a0ab;}
.txt-2e{color: #2eb2ff;}
.txt-99{color: #999999;}
.txt-98{color: #98a0ab;}
.fontw-600{font-weight: 600;}
.mat-form-field-appearance-fill .mat-form-field-flex{background-color:transparent !important;}
.mat-form-field-infix{padding: 0 !important;}
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {background-color: #ff8a48 !important;}
.mat-accent .mat-slider-track-fill{ background-color: #ff8a48 !important;}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb{background-color:transparent !important;}
.radio{
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color: #ff8a48 !important;}
.mat-radio-button.mat-accent .mat-radio-inner-circle{background-color: #ff8a48 !important;}
}
.event-slider{ 
  .slick-next-icon{ padding:3px;right: 0; position: absolute; top: 30%; height: 30px;width: 30px;  border: solid 1px #e5e5e5;
    border-radius: 100%; cursor: pointer;color: white; fill: #1fa4dd;}
  .slick-prev-icon{ padding:3px; left: -4px; position: absolute; top: 30%;  height: 30px;width: 30px;  z-index: 1;  border: solid 1px #e5e5e5;
    border-radius: 100%;cursor: pointer; fill: #1fa4dd; }
    .slick-dots{display:none !important;}
    .slick-prev-icon:hover, .slick-prev-icon:focus, .slick-next-icon:hover, .slick-next-icon:focus {
      background-color: #1fa4dd;
      fill: #fff;
    }
}
input.mat-input-element {margin-top: 0.325em !important;}
select.mat-input-element { padding-top: 1.5em !important; top: -1.2em !important; margin-bottom: -0.9em;}
@media (min-width:320px) and (max-width:959px){
.mr-4{margin-right: 0 !important;}
.fonts-12{font-size: 11px;}
.fonts-13{font-size: 12px;}
.fonts-16{font-size: 14px;}
.fonts-20{font-size: 16px;}
.fonts-24{font-size: 20px;}
}