<!-- section first start -->
<section class="mx-3 mt-3">
  <div fxLayout fxLayout="row wrap" class="d-flex align-items-center" fxFLayoutGap="10px" fxLayout.xs="column"
    fxLayoutAlign.lg="start center" fxLayoutAlign.md="start center" fxLayoutAlign.xs="start"
    fxLayoutAlign.sm="start center">
    <div fxFlex.xl="65%" fxFlex.lg="65%" fxFlex.md="60%" fxFlex.sm="100%" fxFlex.xs="100%"
      class="pading_card mr-2 mr-4">
      <div class="welcome-board mb-4  px-4">
        <p class="fonts-24 my-0 txt-30 py-3">Welcome <span class="fontw-600"> Leo Langlois. </span></p>
        <i class="fonts-20 fontw-600 txt-30">We're super excited to have you on board</i>
      </div>
    </div>
    <div fxFlex.xl="33.8%" fxFlex.lg="33%" fxFlex.md="37%" fxFlex.sm="100%" fxFlex.xs="50%" class="pading_card">
      <div class="welcome-board slider mb-4  px-4">
        <p class="fonts-16 txt-30 my-0 py-3 fontw-600">Upcoming Appointments</p>
        <ngx-slick-carousel class="carousel event-slider mb-0 mx-4" [config]="slideConfig" #slickModal="slick-carousel">
          <div ngxSlickItem class="slide text-center w-100" style="height:90%">
            <div class="d-flex align-items-top w-100  d-flex justify-content-center">
              <div class="profile-card mr-3">
                <img src="../../../assets/img/user.jpg" alt="user-image">
              </div>
              <div class="">
                <p class="fonts-14 txt-30 fontw-600 my-0 text-left">Dr. Shaun Marsh</p>
                <p class="d-flex align-items-center mb-2 my-0 fonts-13">
                  <img class="mr-2" src="../../../assets/img/clock.jpg" alt="clock">
                  <span class="txt-30 fontw-600 fonts-14 mr-2">12:30pm</span>
                  <span class="txt-98 fontw-600"> Sep 16, 2020</span>
                </p>
                <div class="text-center w-100">
                  <button mat-raised-button class="bg-2e txt-ff text-center mb-2">View Details</button>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide text-center w-100" style="height:90%">
            <div class="d-flex align-items-top w-100  d-flex justify-content-center">
              <div class="profile-card mr-3">
                <img src="../../../assets/img/user.jpg" alt="user-image">
              </div>
              <div class="">
                <p class="fonts-14 txt-30 fontw-600 my-0 text-left">Dr. Shaun Marsh</p>
                <p class="d-flex align-items-center mb-2 my-0 fonts-13">
                  <img class="mr-2" src="../../../assets/img/clock.jpg" alt="clock">
                  <span class="txt-30 fontw-600 fonts-14 mr-2">12:30pm</span>
                  <span class="txt-98 fontw-600"> Sep 16, 2020</span>
                </p>
                <div class="text-center w-100">
                  <button mat-raised-button class="bg-2e txt-ff text-center mb-2">View Details</button>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide text-center w-100" style="height:90%">
            <div class="d-flex align-items-top w-100  d-flex justify-content-center">
              <div class="profile-card mr-3">
                <img src="../../../assets/img/user.jpg" alt="user-image">
              </div>
              <div class="">
                <p class="fonts-14 txt-30 fontw-600 my-0 text-left">Dr. Shaun Marsh</p>
                <p class="d-flex align-items-center mb-2 my-0 fonts-13">
                  <img class="mr-2" src="../../../assets/img/clock.jpg" alt="clock">
                  <span class="txt-30 fontw-600 fonts-14 mr-2">12:30pm</span>
                  <span class="txt-98 fontw-600"> Sep 16, 2020</span>
                </p>
                <div class="text-center w-100">
                  <button mat-raised-button class="bg-2e txt-ff text-center mb-2">View Details</button>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- section first end -->

<!-- section second start -->
<div class="bg-white outer-shadow rounded mx-3">
  <section class="mx-4">
    <div class="subfield">
      <div fxLayout fxLayout="row wrap" class="d-flex align-items-center" fxFLayoutGap="10px" fxLayout.xs="column"
        fxLayoutAlign.lg="start center" fxLayoutAlign.md="start center" fxLayoutAlign.xs="center center"
        fxLayoutAlign.sm="start center">
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card mx-2 mt-2">
          <mat-form-field class="example-full-width txt-99">
            <mat-label>Location</mat-label>
            <input matInput class="txt-3b" value="City, State or Zip">
            <button matSuffix mat-icon-button aria-label="search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <section class="example-section w-100">
            <label id="example-name-label" class="example-name-label txt-99 fonts-12">Within Distance</label>
            <mat-slider class="example-margin w-100"></mat-slider>
            <div class="example-label-container d-flex">
              <label id="example-name-label" class="example-name-label fonts-14 pt-2">0 mi</label>
              <label class="example-value-label ml-auto fonts-14 pt-2">25 mi</label>
            </div>

          </section>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Select Specialities</mat-label>
            <select matNativeControl>
              <option>Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Insurance</mat-label>
            <select matNativeControl>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Select languages</mat-label>
            <select matNativeControl>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="15%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card mx-2 mb-2">
          <label class="fonts-12 txt-99 d-block mb-2">Gender</label>
          <mat-radio-group class="radio txt-30" aria-label="Select an option">
            <mat-radio-button class="mr-4 pr-3" value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Select Affiliations</mat-label>
            <select matNativeControl>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Select Provider Types</mat-label>
            <select matNativeControl>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Select Provider Sub Types</mat-label>
            <select matNativeControl>
              <option value="volvo">Volvo</option>
            </select>
          </mat-form-field>
        </div>
        <div fxFlex.lg="18%" fxFlex.md="48%" fxFlex.sm="45%" fxFlex.xs="100%" class="pading_card m-2">
          <button mat-raised-button class="bg-2e txt-ff mb-2">Reset Filters</button>
        </div>
      </div>
    </div>
    <p class="txt-1f fonts-14 my-0 ml-2">8 Records Found</p>
    <div fxLayout fxLayout="row wrap" fxFLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign.lg="start center"
      fxLayoutAlign.md="start center" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="start center">
      <!-- *ngFor="let items of tmpDataListArray" -->
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.lg="30.5%" fxFlex.md="46%" fxFlex.sm="44%" fxFlex.xs="100%" class="pading_card m-3">
        <mat-card class="example-card p-0 py-4">
          <div class="d-flex align-items-center border-bottom ml-0 px-3 pb-2">
            <div class="profile-card mr-3">
              <img src="../../../assets/img/user.jpg" alt="user-image">
            </div>
            <div class="">
              <h2 class="txt-30 my-1 fonts-16">Dr. John Diego, <span class="txt-98"> M(35) </span></h2>
              <p class="txt-2e my-1 fonts-12">M. D. Medicine, Children Specialist</p>
            </div>
          </div>
          <mat-card-content class="px-3 pt-2">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30 d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Oakland, California
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Morristown Medical Center
              </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div fxFlex="40%" class="pading_card txt-30  d-flex align-items-top fonts-13 mr-3">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Online
              </div>
              <div fxFlex="60%" class="pading_card txt-30  d-flex align-items-top fonts-13">
                <div class="w-3">
                  <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12 2C8.1 2 5 5.1 5 9C5 14.2 12 22 12 22S19 14.2 19 9C19 5.1 15.9 2 12 2M14.5 13L12 11.5L9.5 13L10.2 10.2L8 8.3L10.9 8.1L12 5.4L13.1 8L16 8.3L13.8 10.2L14.5 13Z" />
                  </svg>
                </div>
                Preferred Doctor
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


    </div>
  </section>
</div>
<!-- section second end -->