.profile-card{width: 48px;height: 48px;min-width:48px;min-height:48px;overflow:hidden; border-radius: 100%;
    img{height: 100%; width: 100%;object-fit: contain;}
}
.mat-card{box-shadow: 0 0 10px 0 rgba(27, 28, 31, 0.07) !important; border: solid 1px #e6eaee; width: 100%;cursor: pointer;}
.border-bottom{border-bottom: 1px solid #e6eaee;}
.bg-white{background-color: #fff;}
.w-3{height: 1.5rem; width: 1.5rem;}
.mat-slider-horizontal { height: 48px; min-width: 114px !important;}
    .mat-slider-horizontal {height: 18px !important;}
    .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {background-color: #ff8a48 !important;}
.bg-2e{background-color: #2eb2ff;}
.rounded{border-radius: 5px;}
.outer-shadow{box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3);}
.welcome-board{  height: 170px; border-radius: 5px; box-shadow: 0px 2px 13px 0 rgba(88, 92, 101, 0.3); background-color: #ffffff;}
.p-6{ padding-bottom: 4.3rem !important;}
@media (min-width:320px) and (max-width:600px){
    .slider{width: 88%;}
}